In [100]:
import numpy as np
import pandas as pd

In [101]:
df = pd.read_csv("students_data.csv")
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [102]:
df = df.drop_duplicates()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [103]:
df.columns = df.columns.str.lower().str.strip()
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [104]:
df.replace(["missing", "NaN"], np.nan, inplace=True)
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,NaN,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,NaN,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,NaN,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,NaN,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,NaN,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,NaN,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,NaN,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,NaN,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [105]:
df["age"] = pd.to_numeric(df["age"], errors="coerce")
df["age"] = df["age"].fillna(df["age"].median()).astype(int)

In [106]:
df["math_score"] = pd.to_numeric(df["math_score"], errors="coerce")
df["english_score"] = pd.to_numeric(df["english_score"], errors="coerce")

df["math_score"] = df["math_score"].fillna(df["math_score"].mean()).astype(int)
df["english_score"] = df["english_score"].fillna(df["english_score"].mean()).astype(int)

In [107]:
df['gender'] = df['gender'].str.lower().map({
    'male': 'M',
    'female': 'F'

})
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16,F,11,75,78,66,2022-06-10,excellent
1,101,John Doe,16,M,10th,74,95,94,10-06-2022,GOOD
2,102,Chris P.,17,M,10,74,78,69,06/12/2022,needs improvement
3,103,jane smith,16,F,10,74,78,62,10-06-2022,average
4,104,Sara O'Neil,16,M,11,74,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,F,10,74,78,83,06/12/2022,needs improvement
6,106,ali Khan,17,F,11,64,78,75,06/12/2022,Good
7,107,Sara O'Neil,17,F,12,74,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,F,12,80,78,89,06/12/2022,poor
9,109,Robert Brown,17,F,12,74,78,97,10-06-2022,needs improvement
10,110,lucy gray,17,M,11th,65,67,100,06/12/2022,excellent
11,111,Simran Singh,16,F,11th,74,78,95,2022-06-10,average
12,112,Patel R.,17,F,11,74,87,89,2022-06-10,poor
13,113,Patel R.,17,M,10,74,78,98,06/12/2022,Average
14,114,Ali Khan,17,M,12,74,91,67,2022/06/11,poor
15,115,Lucy gray,16,F,12,65,91,94,06/12/2022,Average
16,116,Chris P.,17,F,11,74,78,72,2022/06/11,excellent
17,117,Ali Khan,18,M,11th,67,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,M,10,100,74,62,2022/06/11,average
19,119,Patel R.,17,M,11th,73,78,90,06/12/2022,Good
20,120,Sara O'Neil,17,M,10,74,78,89,2022-06-10,average
21,121,John Doe,18,F,11,66,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,M,11th,75,78,66,2022-06-10,good student
23,123,jane smith,17,F,11th,74,78,63,06/12/2022,excellent
24,124,John Doe,18,M,11th,74,78,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,M,12,94,80,63,10-06-2022,Average
26,126,John Doe,17,M,10th,64,78,67,06/12/2022,good student
27,127,Simran Singh,16,F,12,74,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,F,11,74,64,89,2022-06-10,average
29,129,Patel R.,17,M,11,74,64,83,2022/06/11,Average

In [108]:
df['grade'] = df['grade'].astype(str)

df['grade'] = df['grade'].replace({
    '10th': 'X',
    '11th': 'XI',
    '12': 'XII',
    '11': 'XI',
    '10': 'X'
})
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16,F,XI,75,78,66,2022-06-10,excellent
1,101,John Doe,16,M,X,74,95,94,10-06-2022,GOOD
2,102,Chris P.,17,M,X,74,78,69,06/12/2022,needs improvement
3,103,jane smith,16,F,X,74,78,62,10-06-2022,average
4,104,Sara O'Neil,16,M,XI,74,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,F,X,74,78,83,06/12/2022,needs improvement
6,106,ali Khan,17,F,XI,64,78,75,06/12/2022,Good
7,107,Sara O'Neil,17,F,XII,74,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,F,XII,80,78,89,06/12/2022,poor
9,109,Robert Brown,17,F,XII,74,78,97,10-06-2022,needs improvement
10,110,lucy gray,17,M,XI,65,67,100,06/12/2022,excellent
11,111,Simran Singh,16,F,XI,74,78,95,2022-06-10,average
12,112,Patel R.,17,F,XI,74,87,89,2022-06-10,poor
13,113,Patel R.,17,M,X,74,78,98,06/12/2022,Average
14,114,Ali Khan,17,M,XII,74,91,67,2022/06/11,poor
15,115,Lucy gray,16,F,XII,65,91,94,06/12/2022,Average
16,116,Chris P.,17,F,XI,74,78,72,2022/06/11,excellent
17,117,Ali Khan,18,M,XI,67,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,M,X,100,74,62,2022/06/11,average
19,119,Patel R.,17,M,XI,73,78,90,06/12/2022,Good
20,120,Sara O'Neil,17,M,X,74,78,89,2022-06-10,average
21,121,John Doe,18,F,XI,66,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,M,XI,75,78,66,2022-06-10,good student
23,123,jane smith,17,F,XI,74,78,63,06/12/2022,excellent
24,124,John Doe,18,M,XI,74,78,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,M,XII,94,80,63,10-06-2022,Average
26,126,John Doe,17,M,X,64,78,67,06/12/2022,good student
27,127,Simran Singh,16,F,XII,74,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,F,XI,74,64,89,2022-06-10,average
29,129,Patel R.,17,M,XI,74,64,83,2022/06/11,Average

In [109]:
# Convert ENROLLED_DATE to datetime (fix mixed formats)
df["enrolled_date"] = pd.to_datetime(
    df["enrolled_date"],
    errors="coerce",
    dayfirst=True
)

# Change format to DD-MM-YYYY
df["enrolled_date"] = df["enrolled_date"].dt.strftime("%d-%m-%Y")

In [110]:
df["enrolled_date"] = df["enrolled_date"].fillna("01-01-2022")

In [111]:
df['name'] = df['name'].str.strip()
df['gender'] = df['gender'].str.strip()
df['remarks'] = df['remarks'].str.strip()

In [112]:
df['name'] = df['name'].str.upper()
df['gender'] = df['gender'].str.upper()
df['remarks'] = df['remarks'].str.upper()

In [113]:
# Rename Columns
df.columns = df.columns.str.strip().str.upper()

In [115]:
# Final Clean Dataset
df.head(30)

,STUDENT_ID,NAME,AGE,GENDER,GRADE,MATH_SCORE,ENGLISH_SCORE,SCIENCE_SCORE,ENROLLED_DATE,REMARKS
0,100,JANE SMITH,16,F,XI,75,78,66,06-10-2022,EXCELLENT
1,101,JOHN DOE,16,M,X,74,95,94,01-01-2022,GOOD
2,102,CHRIS P.,17,M,X,74,78,69,01-01-2022,NEEDS IMPROVEMENT
3,103,JANE SMITH,16,F,X,74,78,62,01-01-2022,AVERAGE
4,104,SARA O'NEIL,16,M,XI,74,96,64,06-10-2022,GOOD
5,105,MIKE O’REILLY,16,F,X,74,78,83,01-01-2022,NEEDS IMPROVEMENT
6,106,ALI KHAN,17,F,XI,64,78,75,01-01-2022,GOOD
7,107,SARA O'NEIL,17,F,XII,74,63,62,01-01-2022,EXCELLENT
8,108,MIKE O’REILLY,16,F,XII,80,78,89,01-01-2022,POOR
9,109,ROBERT BROWN,17,F,XII,74,78,97,01-01-2022,NEEDS IMPROVEMENT
10,110,LUCY GRAY,17,M,XI,65,67,100,01-01-2022,EXCELLENT
11,111,SIMRAN SINGH,16,F,XI,74,78,95,06-10-2022,AVERAGE
12,112,PATEL R.,17,F,XI,74,87,89,06-10-2022,POOR
13,113,PATEL R.,17,M,X,74,78,98,01-01-2022,AVERAGE
14,114,ALI KHAN,17,M,XII,74,91,67,01-01-2022,POOR
15,115,LUCY GRAY,16,F,XII,65,91,94,01-01-2022,AVERAGE
16,116,CHRIS P.,17,F,XI,74,78,72,01-01-2022,EXCELLENT
17,117,ALI KHAN,18,M,XI,67,74,81,06-10-2022,GOOD
18,118,SIMRAN SINGH,17,M,X,100,74,62,01-01-2022,AVERAGE
19,119,PATEL R.,17,M,XI,73,78,90,01-01-2022,GOOD
20,120,SARA O'NEIL,17,M,X,74,78,89,06-10-2022,AVERAGE
21,121,JOHN DOE,18,F,XI,66,72,94,01-01-2022,AVERAGE
22,122,SARA O'NEIL,17,M,XI,75,78,66,06-10-2022,GOOD STUDENT
23,123,JANE SMITH,17,F,XI,74,78,63,01-01-2022,EXCELLENT
24,124,JOHN DOE,18,M,XI,74,78,91,01-01-2022,GOOD
25,125,MIKE O’REILLY,17,M,XII,94,80,63,01-01-2022,AVERAGE
26,126,JOHN DOE,17,M,X,64,78,67,01-01-2022,GOOD STUDENT
27,127,SIMRAN SINGH,16,F,XII,74,76,80,01-01-2022,POOR
28,128,SARA O'NEIL,17,F,XI,74,64,89,06-10-2022,AVERAGE
29,129,PATEL R.,17,M,XI,74,64,83,01-01-2022,AVERAGE